<div id="main">
  <h1 class="title">Warcards</h1>

  <p class="logtypes">
    <%= @ai.name %>   Vs.   <%= request.cookies['player_name'] %>
    <br/>
    <br/>

    <% if session[:gameplay_instance].game_over?[:over?] == FALSE %>
        <% session[:gameplay_instance].rearm? %>
        <%= "#{@ai.name}'s card: #{session[:gameplay_instance].ai_cards.last.value}
      of #{session[:gameplay_instance].ai_cards.last.suit} Vs. #{request.cookies['player_name']}'s card:
      #{session[:gameplay_instance].player_cards.last.value} of #{session[:gameplay_instance].player_cards.last.suit}" %>
        </p>

        <p class="logtypes">
          <% if session[:result][:winner] %>
              <%= "#{session[:result][:winner].name} has the higher card!" %>
              <%= "Player has #{@@game.player_holdings} cards.\tAI has #{@@game.ai_holdings} cards." %>
              <br/>
              <%= "#{@@game.build_graph(@@game.player_holdings, @@game.ai_holdings)}" %>
          <% else %>
              <%= "There was war! #{session[:result][:player_cards].length} cards at stake." %>
          <% end %>
        </p>

        <% if session[:result][:winner] == @player %>
            <p class="logtypes">
              <% session[:this_question] = @@questions.sample %>
              <%= session[:this_question].pose %>
              <% session[:this_answer] = session[:this_question].answer %>
            </p>

            <form action="/warcards/play" method="post">
              <input type="text" name="answer" placeholder="Answer..." size="60" autofocus="autofocus"/>
              <input type="submit" value="Submit answer"/>
            </form>
        <% else %>
            <form action="/warcards/play" method="get">
              <% if @@game.test_ai(rand, request.cookies['difficulty'].to_f) %>
                  <%= "#{@ai.name} was correct and wins the round." %>
              <% else %>
                  <%= "#{@ai.name} was incorrect. #{@player.name} wins the round!" %>
              <% end %>
              <input type="submit" value="Deal again" autofocus="autofocus"/>
            </form>
        <% end %>
    <% else %>
        <p class="logtypes">
          <%= "Game Over. #{@@game.game_over?[:winner]}" %>
        </p>
    <% end %>

    </div>