<div id="main">
  <h1 class="title">Warcards</h1>

  <p class="logtypes">
    <%= @ai.name %>   Vs.   <%= session[:player_name] %>
    <br/>
    <br/>
    <%= "#{@ai.name}'s card: #{@gameplay_instance.ai_cards.last.value}
      of #{@gameplay_instance.ai_cards.last.suit} Vs. #{session[:player_name]}'s card:
      #{@gameplay_instance.player_cards.last.value} of #{@gameplay_instance.player_cards.last.suit}" %>
  </p>

  <p class="logtypes">
    <% if @result[:winner] %>
        <%= "#{@result[:winner].name} has the higher card!" %>
        <%= "Player has #{(@gameplay_instance.player.stack.length + @gameplay_instance.player.discard.length + 1)} cards.
        \tAI has #{(@gameplay_instance.ai.stack.length + @gameplay_instance.ai.discard.length + 1)} cards." %>
    <% else %>
        <%= "There was war! #{@result[:player_cards].length} cards at stake." %>
    <% end %>
  </p>


  <p class="logtypes">
    <% session[:this_question] = session[:questions].sample %>
    <%= session[:this_question].pose %>
    <% session[:this_answer] = session[:this_question].answer %>
  </p>

  <form action="/warcards/play" method="post">
    <input type="text" name="answer" placeholder="Answer..." size="60" autofocus="autofocus"/>
    <input type="submit" value="Submit answer"/>
  </form>

</div>